<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hamid.learn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:supportsRtl">
        <activity android:name=".View.MainActivity" />
        <activity android:name=".View.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0c74MVHDtxexwnkiaHRf9vXmba5XlBKM" />

        <activity android:name=".View.Paymentactivity" />

        <service android:name=".Fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/shop_48" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".View.Upload" />
        <activity
            android:name=".View.AllInMap"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyA0c74MVHDtxexwnkiaHRf9vXmba5XlBKM" />
        </activity>
        <activity
            android:name=".View.DetailOfLocation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyA0c74MVHDtxexwnkiaHRf9vXmba5XlBKM" />
        </activity>
        <activity
            android:name=".View.FirstActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.NearMe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SaleActivity"
            android:screenOrientation="portrait">
            >
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".View.MyLocationActivity" />
        <activity android:name=".View.WhichSpecialActivity"></activity>
    </application>

</manifest>